[submodule "01-hello-world-siyoung74.git"]
	path = 01-hello-world-siyoung74.git
	url = https://github.com/faes-biof/01-hello-world-siyoung74.git
[submodule "01-hello-world-ksheard.git"]
	path = 01-hello-world-ksheard.git
	url = https://github.com/faes-biof/01-hello-world-ksheard.git
[submodule "01-hello-world-dakotajacobs.git"]
	path = 01-hello-world-dakotajacobs.git
	url = https://github.com/faes-biof/01-hello-world-dakotajacobs.git
[submodule "01-hello-world-blu21.git"]
	path = 01-hello-world-blu21.git
	url = https://github.com/faes-biof/01-hello-world-blu21.git
[submodule "02-gc-percent-gmahesh44.git"]
	path = 02-gc-percent-gmahesh44.git
	url = https://github.com/faes-biof/02-gc-percent-gmahesh44.git
[submodule "01-hello-world-saadtassaduq786.git"]
	path = 01-hello-world-saadtassaduq786.git
	url = https://github.com/faes-biof/01-hello-world-saadtassaduq786.git
[submodule "01-hello-world-watkinsta.git"]
	path = 01-hello-world-watkinsta.git
	url = https://github.com/faes-biof/01-hello-world-watkinsta.git
[submodule "01-hello-world-jhm471.git"]
	path = 01-hello-world-jhm471.git
	url = https://github.com/faes-biof/01-hello-world-jhm471.git
[submodule "01-hello-world-tejpalgill.git"]
	path = 01-hello-world-tejpalgill.git
	url = https://github.com/faes-biof/01-hello-world-tejpalgill.git
[submodule "01-hello-world-ReichardKyle.git"]
	path = 01-hello-world-ReichardKyle.git
	url = https://github.com/faes-biof/01-hello-world-ReichardKyle.git
[submodule "01-hello-world-pickles0618.git"]
	path = 01-hello-world-pickles0618.git
	url = https://github.com/faes-biof/01-hello-world-pickles0618.git
[submodule "01-hello-world-R-Mayers.git"]
	path = 01-hello-world-R-Mayers.git
	url = https://github.com/faes-biof/01-hello-world-R-Mayers.git
[submodule "01-hello-world-shoos001.git"]
	path = 01-hello-world-shoos001.git
	url = https://github.com/faes-biof/01-hello-world-shoos001.git
[submodule "01-hello-world-aditithakkar17.git"]
	path = 01-hello-world-aditithakkar17.git
	url = https://github.com/faes-biof/01-hello-world-aditithakkar17.git
[submodule "01-hello-world-drewhonson.git"]
	path = 01-hello-world-drewhonson.git
	url = https://github.com/faes-biof/01-hello-world-drewhonson.git
[submodule "01-hello-world-shlosman.git"]
	path = 01-hello-world-shlosman.git
	url = https://github.com/faes-biof/01-hello-world-shlosman.git
[submodule "01-hello-world-ccole1993.git"]
	path = 01-hello-world-ccole1993.git
	url = https://github.com/faes-biof/01-hello-world-ccole1993.git
[submodule "02-gc-percent-drewhonson.git"]
	path = 02-gc-percent-drewhonson.git
	url = https://github.com/faes-biof/02-gc-percent-drewhonson.git
[submodule "02-gc-percent-ksheard.git"]
	path = 02-gc-percent-ksheard.git
	url = https://github.com/faes-biof/02-gc-percent-ksheard.git
[submodule "01-hello-world-chelseabender.git"]
	path = 01-hello-world-chelseabender.git
	url = https://github.com/faes-biof/01-hello-world-chelseabender.git
[submodule "01-hello-world-melkasapi.git"]
	path = 01-hello-world-melkasapi.git
	url = https://github.com/faes-biof/01-hello-world-melkasapi.git
[submodule "01-hello-world-Mathewseltzer.git"]
	path = 01-hello-world-Mathewseltzer.git
	url = https://github.com/faes-biof/01-hello-world-Mathewseltzer.git
[submodule "01-hello-world-maria-perica.git"]
	path = 01-hello-world-maria-perica.git
	url = https://github.com/faes-biof/01-hello-world-maria-perica.git
[submodule "01-hello-world-tmwynne.git"]
	path = 01-hello-world-tmwynne.git
	url = https://github.com/faes-biof/01-hello-world-tmwynne.git
[submodule "01-hello-world-zhivkoplias.git"]
	path = 01-hello-world-zhivkoplias.git
	url = https://github.com/faes-biof/01-hello-world-zhivkoplias.git
[submodule "02-gc-percent-shlosman.git"]
	path = 02-gc-percent-shlosman.git
	url = https://github.com/faes-biof/02-gc-percent-shlosman.git
[submodule "01-hello-world-beyfea.git"]
	path = 01-hello-world-beyfea.git
	url = https://github.com/faes-biof/01-hello-world-beyfea.git
[submodule "01-hello-world-marskar.git"]
	path = 01-hello-world-marskar.git
	url = https://github.com/faes-biof/01-hello-world-marskar.git
[submodule "01-hello-world-gmahesh44.git"]
	path = 01-hello-world-gmahesh44.git
	url = https://github.com/faes-biof/01-hello-world-gmahesh44.git
[submodule "01-hello-world-jimankang.git"]
	path = 01-hello-world-jimankang.git
	url = https://github.com/faes-biof/01-hello-world-jimankang.git
[submodule "02-gc-percent-siyoung74.git"]
	path = 02-gc-percent-siyoung74.git
	url = https://github.com/faes-biof/02-gc-percent-siyoung74.git
[submodule "01-hello-world-wolfgern.git"]
	path = 01-hello-world-wolfgern.git
	url = https://github.com/faes-biof/01-hello-world-wolfgern.git
[submodule "01-hello-world-rolinskira.git"]
	path = 01-hello-world-rolinskira.git
	url = https://github.com/faes-biof/01-hello-world-rolinskira.git
[submodule "01-hello-world-shennonlu.git"]
	path = 01-hello-world-shennonlu.git
	url = https://github.com/faes-biof/01-hello-world-shennonlu.git
[submodule "01-hello-world-earnestt1234.git"]
	path = 01-hello-world-earnestt1234.git
	url = https://github.com/faes-biof/01-hello-world-earnestt1234.git
[submodule "02-gc-percent-tmwynne.git"]
	path = 02-gc-percent-tmwynne.git
	url = https://github.com/faes-biof/02-gc-percent-tmwynne.git
[submodule "01-hello-world-jakobgu.git"]
	path = 01-hello-world-jakobgu.git
	url = https://github.com/faes-biof/01-hello-world-jakobgu.git
[submodule "01-hello-world-laurenkomer.git"]
	path = 01-hello-world-laurenkomer.git
	url = https://github.com/faes-biof/01-hello-world-laurenkomer.git
[submodule "01-hello-world-sherineeltoukhy.git"]
	path = 01-hello-world-sherineeltoukhy.git
	url = https://github.com/faes-biof/01-hello-world-sherineeltoukhy.git
[submodule "01-hello-world-krstofur.git"]
	path = 01-hello-world-krstofur.git
	url = https://github.com/faes-biof/01-hello-world-krstofur.git
[submodule "01-hello-world-dross33.git"]
	path = 01-hello-world-dross33.git
	url = https://github.com/faes-biof/01-hello-world-dross33.git
[submodule "02-gc-percent-blu21.git"]
	path = 02-gc-percent-blu21.git
	url = https://github.com/faes-biof/02-gc-percent-blu21.git
[submodule "10-final-project-jpmcelderry.git"]
	path = 10-final-project-jpmcelderry.git
	url = https://github.com/faes-biof/10-final-project-jpmcelderry.git
[submodule "01-hello-world-saadi12k.git"]
	path = 01-hello-world-saadi12k.git
	url = https://github.com/faes-biof/01-hello-world-saadi12k.git
[submodule "01-hello-world-vkh16.git"]
	path = 01-hello-world-vkh16.git
	url = https://github.com/faes-biof/01-hello-world-vkh16.git
[submodule "01-hello-world-jpmcelderry.git"]
	path = 01-hello-world-jpmcelderry.git
	url = https://github.com/faes-biof/01-hello-world-jpmcelderry.git
[submodule "01-hello-world-renbinyang.git"]
	path = 01-hello-world-renbinyang.git
	url = https://github.com/faes-biof/01-hello-world-renbinyang.git
[submodule "01-hello-world-naisargmodi.git"]
	path = 01-hello-world-naisargmodi.git
	url = https://github.com/faes-biof/01-hello-world-naisargmodi.git
[submodule "01-hello-world-michaelrosenheck.git"]
	path = 01-hello-world-michaelrosenheck.git
	url = https://github.com/faes-biof/01-hello-world-michaelrosenheck.git
[submodule "01-hello-world-KatSchwartz.git"]
	path = 01-hello-world-KatSchwartz.git
	url = https://github.com/faes-biof/01-hello-world-KatSchwartz.git
[submodule "01-hello-world-simplevero123.git"]
	path = 01-hello-world-simplevero123.git
	url = https://github.com/faes-biof/01-hello-world-simplevero123.git
[submodule "02-gc-percent-chelseabender.git"]
	path = 02-gc-percent-chelseabender.git
	url = https://github.com/faes-biof/02-gc-percent-chelseabender.git
[submodule "01-hello-world-fellm033.git"]
	path = 01-hello-world-fellm033.git
	url = https://github.com/faes-biof/01-hello-world-fellm033.git
[submodule "02-gc-percent-jhm471.git"]
	path = 02-gc-percent-jhm471.git
	url = https://github.com/faes-biof/02-gc-percent-jhm471.git
[submodule "03-loop-example-jhm471.git"]
	path = 03-loop-example-jhm471.git
	url = https://github.com/faes-biof/03-loop-example-jhm471.git
[submodule "10-final-project-jhm471.git"]
	path = 10-final-project-jhm471.git
	url = https://github.com/faes-biof/10-final-project-jhm471.git
[submodule "02-gc-percent-jpmcelderry.git"]
	path = 02-gc-percent-jpmcelderry.git
	url = https://github.com/faes-biof/02-gc-percent-jpmcelderry.git
[submodule "02-gc-percent-yangr3.git"]
	path = 02-gc-percent-yangr3.git
	url = https://github.com/faes-biof/02-gc-percent-yangr3.git
[submodule "03-loop-example-siyoung74.git"]
	path = 03-loop-example-siyoung74.git
	url = https://github.com/faes-biof/03-loop-example-siyoung74.git
[submodule "02-gc-percent-melkasapi.git"]
	path = 02-gc-percent-melkasapi.git
	url = https://github.com/faes-biof/02-gc-percent-melkasapi.git
[submodule "02-gc-percent-earnestt1234.git"]
	path = 02-gc-percent-earnestt1234.git
	url = https://github.com/faes-biof/02-gc-percent-earnestt1234.git
[submodule "02-gc-percent-R-Mayers.git"]
	path = 02-gc-percent-R-Mayers.git
	url = https://github.com/faes-biof/02-gc-percent-R-Mayers.git
[submodule "02-gc-percent-pickles0618.git"]
	path = 02-gc-percent-pickles0618.git
	url = https://github.com/faes-biof/02-gc-percent-pickles0618.git
[submodule "02-gc-percent-Mathewseltzer.git"]
	path = 02-gc-percent-Mathewseltzer.git
	url = https://github.com/faes-biof/02-gc-percent-Mathewseltzer.git
[submodule "02-gc-percent-krstofur.git"]
	path = 02-gc-percent-krstofur.git
	url = https://github.com/faes-biof/02-gc-percent-krstofur.git
[submodule "02-gc-percent-rolinskira.git"]
	path = 02-gc-percent-rolinskira.git
	url = https://github.com/faes-biof/02-gc-percent-rolinskira.git
[submodule "02-gc-percent-fellm033.git"]
	path = 02-gc-percent-fellm033.git
	url = https://github.com/faes-biof/02-gc-percent-fellm033.git
[submodule "02-gc-percent-wolfgern.git"]
	path = 02-gc-percent-wolfgern.git
	url = https://github.com/faes-biof/02-gc-percent-wolfgern.git
[submodule "02-gc-percent-shoos001.git"]
	path = 02-gc-percent-shoos001.git
	url = https://github.com/faes-biof/02-gc-percent-shoos001.git
[submodule "02-gc-percent-ReichardKyle.git"]
	path = 02-gc-percent-ReichardKyle.git
	url = https://github.com/faes-biof/02-gc-percent-ReichardKyle.git
[submodule "02-gc-percent-laurenkomer.git"]
	path = 02-gc-percent-laurenkomer.git
	url = https://github.com/faes-biof/02-gc-percent-laurenkomer.git
[submodule "02-gc-percent-jakobgu.git"]
	path = 02-gc-percent-jakobgu.git
	url = https://github.com/faes-biof/02-gc-percent-jakobgu.git
[submodule "02-gc-percent-maria-perica.git"]
	path = 02-gc-percent-maria-perica.git
	url = https://github.com/faes-biof/02-gc-percent-maria-perica.git
[submodule "02-gc-percent-shennonlu.git"]
	path = 02-gc-percent-shennonlu.git
	url = https://github.com/faes-biof/02-gc-percent-shennonlu.git
[submodule "02-gc-percent-dross33.git"]
	path = 02-gc-percent-dross33.git
	url = https://github.com/faes-biof/02-gc-percent-dross33.git
[submodule "02-gc-percent-watkinsta.git"]
	path = 02-gc-percent-watkinsta.git
	url = https://github.com/faes-biof/02-gc-percent-watkinsta.git
[submodule "02-gc-percent-sherineeltoukhy.git"]
	path = 02-gc-percent-sherineeltoukhy.git
	url = https://github.com/faes-biof/02-gc-percent-sherineeltoukhy.git
[submodule "03-loop-example-shoos001.git"]
	path = 03-loop-example-shoos001.git
	url = https://github.com/faes-biof/03-loop-example-shoos001.git
[submodule "02-gc-percent-aksenovavy.git"]
	path = 02-gc-percent-aksenovavy.git
	url = https://github.com/faes-biof/02-gc-percent-aksenovavy.git
[submodule "02-gc-percent-dakotajacobs.git"]
	path = 02-gc-percent-dakotajacobs.git
	url = https://github.com/faes-biof/02-gc-percent-dakotajacobs.git
[submodule "02-gc-percent-zhivkoplias.git"]
	path = 02-gc-percent-zhivkoplias.git
	url = https://github.com/faes-biof/02-gc-percent-zhivkoplias.git
[submodule "03-loop-example-jpmcelderry.git"]
	path = 03-loop-example-jpmcelderry.git
	url = https://github.com/faes-biof/03-loop-example-jpmcelderry.git
[submodule "02-gc-percent-jimankang.git"]
	path = 02-gc-percent-jimankang.git
	url = https://github.com/faes-biof/02-gc-percent-jimankang.git
[submodule "02-gc-percent-ccole1993.git"]
	path = 02-gc-percent-ccole1993.git
	url = https://github.com/faes-biof/02-gc-percent-ccole1993.git
[submodule "02-gc-percent-vkh16.git"]
	path = 02-gc-percent-vkh16.git
	url = https://github.com/faes-biof/02-gc-percent-vkh16.git
[submodule "02-gc-percent-saadi12k.git"]
	path = 02-gc-percent-saadi12k.git
	url = https://github.com/faes-biof/02-gc-percent-saadi12k.git
[submodule "01-hello-world-yangr3.git"]
	path = 01-hello-world-yangr3.git
	url = https://github.com/faes-biof/01-hello-world-yangr3.git
[submodule "02-gc-percent-naisargmodi.git"]
	path = 02-gc-percent-naisargmodi.git
	url = https://github.com/faes-biof/02-gc-percent-naisargmodi.git
[submodule "03-loop-example-ccole1993.git"]
	path = 03-loop-example-ccole1993.git
	url = https://github.com/faes-biof/03-loop-example-ccole1993.git
[submodule "04-conditionals-example-ccole1993.git"]
	path = 04-conditionals-example-ccole1993.git
	url = https://github.com/faes-biof/04-conditionals-example-ccole1993.git
[submodule "03-loop-example-wolfgern.git"]
	path = 03-loop-example-wolfgern.git
	url = https://github.com/faes-biof/03-loop-example-wolfgern.git
[submodule "03-loop-example-rolinskira.git"]
	path = 03-loop-example-rolinskira.git
	url = https://github.com/faes-biof/03-loop-example-rolinskira.git
[submodule "03-loop-example-blu21.git"]
	path = 03-loop-example-blu21.git
	url = https://github.com/faes-biof/03-loop-example-blu21.git
[submodule "02-gc-percent-marskar.git"]
	path = 02-gc-percent-marskar.git
	url = https://github.com/faes-biof/02-gc-percent-marskar.git
[submodule "02-gc-percent-simplevero123.git"]
	path = 02-gc-percent-simplevero123.git
	url = https://github.com/faes-biof/02-gc-percent-simplevero123.git
[submodule "02-gc-percent-beyfea.git"]
	path = 02-gc-percent-beyfea.git
	url = https://github.com/faes-biof/02-gc-percent-beyfea.git
[submodule "03-loop-example-jimankang.git"]
	path = 03-loop-example-jimankang.git
	url = https://github.com/faes-biof/03-loop-example-jimankang.git
[submodule "03-loop-example-jakobgu.git"]
	path = 03-loop-example-jakobgu.git
	url = https://github.com/faes-biof/03-loop-example-jakobgu.git
[submodule "03-loop-example-ksheard.git"]
	path = 03-loop-example-ksheard.git
	url = https://github.com/faes-biof/03-loop-example-ksheard.git
[submodule "03-loop-example-dross33.git"]
	path = 03-loop-example-dross33.git
	url = https://github.com/faes-biof/03-loop-example-dross33.git
[submodule "04-conditionals-example-jakobgu.git"]
	path = 04-conditionals-example-jakobgu.git
	url = https://github.com/faes-biof/04-conditionals-example-jakobgu.git
[submodule "03-loop-example-pickles0618.git"]
	path = 03-loop-example-pickles0618.git
	url = https://github.com/faes-biof/03-loop-example-pickles0618.git
[submodule "03-loop-example-shlosman.git"]
	path = 03-loop-example-shlosman.git
	url = https://github.com/faes-biof/03-loop-example-shlosman.git
[submodule "04-conditionals-example-jimankang.git"]
	path = 04-conditionals-example-jimankang.git
	url = https://github.com/faes-biof/04-conditionals-example-jimankang.git
[submodule "03-loop-example-watkinsta.git"]
	path = 03-loop-example-watkinsta.git
	url = https://github.com/faes-biof/03-loop-example-watkinsta.git
[submodule "03-loop-example-drewhonson.git"]
	path = 03-loop-example-drewhonson.git
	url = https://github.com/faes-biof/03-loop-example-drewhonson.git
[submodule "04-conditionals-example-siyoung74.git"]
	path = 04-conditionals-example-siyoung74.git
	url = https://github.com/faes-biof/04-conditionals-example-siyoung74.git
[submodule "03-loop-example-R-Mayers.git"]
	path = 03-loop-example-R-Mayers.git
	url = https://github.com/faes-biof/03-loop-example-R-Mayers.git
[submodule "05-cubed-program-tmwynne.git"]
	path = 05-cubed-program-tmwynne.git
	url = https://github.com/faes-biof/05-cubed-program-tmwynne.git
[submodule "03-loop-example-tmwynne.git"]
	path = 03-loop-example-tmwynne.git
	url = https://github.com/faes-biof/03-loop-example-tmwynne.git
[submodule "04-conditionals-example-tmwynne.git"]
	path = 04-conditionals-example-tmwynne.git
	url = https://github.com/faes-biof/04-conditionals-example-tmwynne.git
[submodule "03-loop-example-ReichardKyle.git"]
	path = 03-loop-example-ReichardKyle.git
	url = https://github.com/faes-biof/03-loop-example-ReichardKyle.git
[submodule "03-loop-example-gmahesh44.git"]
	path = 03-loop-example-gmahesh44.git
	url = https://github.com/faes-biof/03-loop-example-gmahesh44.git
[submodule "03-loop-example-maria-perica.git"]
	path = 03-loop-example-maria-perica.git
	url = https://github.com/faes-biof/03-loop-example-maria-perica.git
[submodule "03-loop-example-dakotajacobs.git"]
	path = 03-loop-example-dakotajacobs.git
	url = https://github.com/faes-biof/03-loop-example-dakotajacobs.git
[submodule "03-loop-example-sherineeltoukhy.git"]
	path = 03-loop-example-sherineeltoukhy.git
	url = https://github.com/faes-biof/03-loop-example-sherineeltoukhy.git
[submodule "04-conditionals-example-sherineeltoukhy.git"]
	path = 04-conditionals-example-sherineeltoukhy.git
	url = https://github.com/faes-biof/04-conditionals-example-sherineeltoukhy.git
[submodule "03-loop-example-chelseabender.git"]
	path = 03-loop-example-chelseabender.git
	url = https://github.com/faes-biof/03-loop-example-chelseabender.git
[submodule "03-loop-example-vkh16.git"]
	path = 03-loop-example-vkh16.git
	url = https://github.com/faes-biof/03-loop-example-vkh16.git
[submodule "03-loop-example-saadi12k.git"]
	path = 03-loop-example-saadi12k.git
	url = https://github.com/faes-biof/03-loop-example-saadi12k.git
[submodule "03-loop-example-beyfea.git"]
	path = 03-loop-example-beyfea.git
	url = https://github.com/faes-biof/03-loop-example-beyfea.git
[submodule "03-loop-example-simplevero123.git"]
	path = 03-loop-example-simplevero123.git
	url = https://github.com/faes-biof/03-loop-example-simplevero123.git
[submodule "03-loop-example-shennonlu.git"]
	path = 03-loop-example-shennonlu.git
	url = https://github.com/faes-biof/03-loop-example-shennonlu.git
[submodule "04-conditionals-example-shennonlu.git"]
	path = 04-conditionals-example-shennonlu.git
	url = https://github.com/faes-biof/04-conditionals-example-shennonlu.git
[submodule "06-numpy-problem-set-jimankang.git"]
	path = 06-numpy-problem-set-jimankang.git
	url = https://github.com/faes-biof/06-numpy-problem-set-jimankang.git
[submodule "04-conditionals-example-blu21.git"]
	path = 04-conditionals-example-blu21.git
	url = https://github.com/faes-biof/04-conditionals-example-blu21.git
[submodule "04-conditionals-example-rolinskira.git"]
	path = 04-conditionals-example-rolinskira.git
	url = https://github.com/faes-biof/04-conditionals-example-rolinskira.git
[submodule "04-conditionals-example-drewhonson.git"]
	path = 04-conditionals-example-drewhonson.git
	url = https://github.com/faes-biof/04-conditionals-example-drewhonson.git
[submodule "04-conditionals-example-chelseabender.git"]
	path = 04-conditionals-example-chelseabender.git
	url = https://github.com/faes-biof/04-conditionals-example-chelseabender.git
[submodule "05-cubed-program-drewhonson.git"]
	path = 05-cubed-program-drewhonson.git
	url = https://github.com/faes-biof/05-cubed-program-drewhonson.git
[submodule "04-conditionals-example-gmahesh44.git"]
	path = 04-conditionals-example-gmahesh44.git
	url = https://github.com/faes-biof/04-conditionals-example-gmahesh44.git
[submodule "04-conditionals-example-pickles0618.git"]
	path = 04-conditionals-example-pickles0618.git
	url = https://github.com/faes-biof/04-conditionals-example-pickles0618.git
[submodule "04-conditionals-example-earnestt1234.git"]
	path = 04-conditionals-example-earnestt1234.git
	url = https://github.com/faes-biof/04-conditionals-example-earnestt1234.git
[submodule "03-loop-example-fellm033.git"]
	path = 03-loop-example-fellm033.git
	url = https://github.com/faes-biof/03-loop-example-fellm033.git
[submodule "03-loop-example-krstofur.git"]
	path = 03-loop-example-krstofur.git
	url = https://github.com/faes-biof/03-loop-example-krstofur.git
[submodule "04-conditionals-example-fellm033.git"]
	path = 04-conditionals-example-fellm033.git
	url = https://github.com/faes-biof/04-conditionals-example-fellm033.git
[submodule "05-cubed-program-fellm033.git"]
	path = 05-cubed-program-fellm033.git
	url = https://github.com/faes-biof/05-cubed-program-fellm033.git
[submodule "04-conditionals-example-wolfgern.git"]
	path = 04-conditionals-example-wolfgern.git
	url = https://github.com/faes-biof/04-conditionals-example-wolfgern.git
[submodule "04-conditionals-example-jhm471.git"]
	path = 04-conditionals-example-jhm471.git
	url = https://github.com/faes-biof/04-conditionals-example-jhm471.git
[submodule "05-cubed-program-pickles0618.git"]
	path = 05-cubed-program-pickles0618.git
	url = https://github.com/faes-biof/05-cubed-program-pickles0618.git
[submodule "06-numpy-problem-set-pickles0618.git"]
	path = 06-numpy-problem-set-pickles0618.git
	url = https://github.com/faes-biof/06-numpy-problem-set-pickles0618.git
[submodule "04-conditionals-example-shoos001.git"]
	path = 04-conditionals-example-shoos001.git
	url = https://github.com/faes-biof/04-conditionals-example-shoos001.git
[submodule "04-conditionals-example-jpmcelderry.git"]
	path = 04-conditionals-example-jpmcelderry.git
	url = https://github.com/faes-biof/04-conditionals-example-jpmcelderry.git
[submodule "05-cubed-program-jpmcelderry.git"]
	path = 05-cubed-program-jpmcelderry.git
	url = https://github.com/faes-biof/05-cubed-program-jpmcelderry.git
[submodule "08-make-a-plot-jpmcelderry.git"]
	path = 08-make-a-plot-jpmcelderry.git
	url = https://github.com/faes-biof/08-make-a-plot-jpmcelderry.git
[submodule "03-loop-example-laurenkomer.git"]
	path = 03-loop-example-laurenkomer.git
	url = https://github.com/faes-biof/03-loop-example-laurenkomer.git
[submodule "04-conditionals-example-laurenkomer.git"]
	path = 04-conditionals-example-laurenkomer.git
	url = https://github.com/faes-biof/04-conditionals-example-laurenkomer.git
[submodule "04-conditionals-example-R-Mayers.git"]
	path = 04-conditionals-example-R-Mayers.git
	url = https://github.com/faes-biof/04-conditionals-example-R-Mayers.git
[submodule "10-final-project-sherineeltoukhy.git"]
	path = 10-final-project-sherineeltoukhy.git
	url = https://github.com/faes-biof/10-final-project-sherineeltoukhy.git
[submodule "05-cubed-program-sherineeltoukhy.git"]
	path = 05-cubed-program-sherineeltoukhy.git
	url = https://github.com/faes-biof/05-cubed-program-sherineeltoukhy.git
[submodule "08-make-a-plot-sherineeltoukhy.git"]
	path = 08-make-a-plot-sherineeltoukhy.git
	url = https://github.com/faes-biof/08-make-a-plot-sherineeltoukhy.git
[submodule "10-final-project-saadi12k.git"]
	path = 10-final-project-saadi12k.git
	url = https://github.com/faes-biof/10-final-project-saadi12k.git
[submodule "04-conditionals-example-saadi12k.git"]
	path = 04-conditionals-example-saadi12k.git
	url = https://github.com/faes-biof/04-conditionals-example-saadi12k.git
[submodule "05-cubed-program-saadi12k.git"]
	path = 05-cubed-program-saadi12k.git
	url = https://github.com/faes-biof/05-cubed-program-saadi12k.git
[submodule "06-numpy-problem-set-saadi12k.git"]
	path = 06-numpy-problem-set-saadi12k.git
	url = https://github.com/faes-biof/06-numpy-problem-set-saadi12k.git
[submodule "07-pandas-problem-set-saadi12k.git"]
	path = 07-pandas-problem-set-saadi12k.git
	url = https://github.com/faes-biof/07-pandas-problem-set-saadi12k.git
[submodule "08-make-a-plot-saadi12k.git"]
	path = 08-make-a-plot-saadi12k.git
	url = https://github.com/faes-biof/08-make-a-plot-saadi12k.git
[submodule "04-conditionals-example-watkinsta.git"]
	path = 04-conditionals-example-watkinsta.git
	url = https://github.com/faes-biof/04-conditionals-example-watkinsta.git
[submodule "10-final-project-ksheard.git"]
	path = 10-final-project-ksheard.git
	url = https://github.com/faes-biof/10-final-project-ksheard.git
[submodule "10-final-project-beyfea.git"]
	path = 10-final-project-beyfea.git
	url = https://github.com/faes-biof/10-final-project-beyfea.git
[submodule "10-final-project-blu21.git"]
	path = 10-final-project-blu21.git
	url = https://github.com/faes-biof/10-final-project-blu21.git
[submodule "10-final-project-laurenkomer.git"]
	path = 10-final-project-laurenkomer.git
	url = https://github.com/faes-biof/10-final-project-laurenkomer.git
[submodule "10-final-project-R-Mayers.git"]
	path = 10-final-project-R-Mayers.git
	url = https://github.com/faes-biof/10-final-project-R-Mayers.git
[submodule "10-final-project-rolinskira.git"]
	path = 10-final-project-rolinskira.git
	url = https://github.com/faes-biof/10-final-project-rolinskira.git
[submodule "10-final-project-earnestt1234.git"]
	path = 10-final-project-earnestt1234.git
	url = https://github.com/faes-biof/10-final-project-earnestt1234.git
[submodule "10-final-project-watkinsta.git"]
	path = 10-final-project-watkinsta.git
	url = https://github.com/faes-biof/10-final-project-watkinsta.git
[submodule "10-final-project-shlosman.git"]
	path = 10-final-project-shlosman.git
	url = https://github.com/faes-biof/10-final-project-shlosman.git
[submodule "10-final-project-melkasapi.git"]
	path = 10-final-project-melkasapi.git
	url = https://github.com/faes-biof/10-final-project-melkasapi.git
[submodule "04-conditionals-example-ksheard.git"]
	path = 04-conditionals-example-ksheard.git
	url = https://github.com/faes-biof/04-conditionals-example-ksheard.git
[submodule "10-final-project-shoos001.git"]
	path = 10-final-project-shoos001.git
	url = https://github.com/faes-biof/10-final-project-shoos001.git
[submodule "04-conditionals-example-shlosman.git"]
	path = 04-conditionals-example-shlosman.git
	url = https://github.com/faes-biof/04-conditionals-example-shlosman.git
[submodule "10-final-project-shennonlu.git"]
	path = 10-final-project-shennonlu.git
	url = https://github.com/faes-biof/10-final-project-shennonlu.git
[submodule "04-conditionals-example-dakotajacobs.git"]
	path = 04-conditionals-example-dakotajacobs.git
	url = https://github.com/faes-biof/04-conditionals-example-dakotajacobs.git
[submodule "10-final-project-chelseabender.git"]
	path = 10-final-project-chelseabender.git
	url = https://github.com/faes-biof/10-final-project-chelseabender.git
[submodule "10-final-project-tmwynne.git"]
	path = 10-final-project-tmwynne.git
	url = https://github.com/faes-biof/10-final-project-tmwynne.git
[submodule "10-final-project-wolfgern.git"]
	path = 10-final-project-wolfgern.git
	url = https://github.com/faes-biof/10-final-project-wolfgern.git
[submodule "10-final-project-dakotajacobs.git"]
	path = 10-final-project-dakotajacobs.git
	url = https://github.com/faes-biof/10-final-project-dakotajacobs.git
[submodule "10-final-project-naisargmodi.git"]
	path = 10-final-project-naisargmodi.git
	url = https://github.com/faes-biof/10-final-project-naisargmodi.git
[submodule "04-conditionals-example-vkh16.git"]
	path = 04-conditionals-example-vkh16.git
	url = https://github.com/faes-biof/04-conditionals-example-vkh16.git
[submodule "10-final-project-vkh16.git"]
	path = 10-final-project-vkh16.git
	url = https://github.com/faes-biof/10-final-project-vkh16.git
[submodule "03-loop-example-melkasapi.git"]
	path = 03-loop-example-melkasapi.git
	url = https://github.com/faes-biof/03-loop-example-melkasapi.git
[submodule "04-conditionals-example-melkasapi.git"]
	path = 04-conditionals-example-melkasapi.git
	url = https://github.com/faes-biof/04-conditionals-example-melkasapi.git
